/* 
Paleta de colores:
Amarillo: #EAC926;
Azul: #03264C;
Celeste: #1259c3;
Gris oscuro: #666;
Gris claro: #ebebeb;
Verde: #39b54a;

● Tipografías
Familia: 'Roboto'

● Tamaños Tipográficos
Cuerpos de texto: 12px
Titulares (Basado en tu última visita/Ofertas): 24px
Precios: 18px
Descuentos: 16px
Descripciones: 16px

● Íconos
link del enlace de mi propio kit 
<script src="https://kit.fontawesome.com/c2d7c9299d.js" crossorigin="anonymous"></script>

*/


/* 
<-----GENERALES---->
<-------------- --->
 */


body {
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  background-color: #ebebeb ;
}


/*
<-----HEADER---->
<--------------->
*/

header {
  background-color: #EAC926;
  padding-bottom: 1rem;
}


.centrado {
  text-align: center;
}

.navbar, .loginbar{
  display: none;
}

ul {
  list-style: none;
}


.navbar a,
.loginbar a {
  text-decoration: none;
  color: black;
}

.boton-hamb{
  text-align: center;
}

.burger-menu {
  display: contents;
  background-color: #1259c3;
  color: #ebebeb;
  border: none;
  border-radius: 20%;
  -webkit-border-radius: 20%;
  -moz-border-radius: 20%;
  -ms-border-radius: 20%;
  -o-border-radius: 20%;
  padding: 10px;
  font-size: 18px;
  text-align: center;
}


/* 
<-----MAIN---->
<--------------->
 */

main{
  width: 90%;
  text-align: center;
}

main article{
  margin: 10px;
}

.art-detalle{
  border-top: 1px solid #ebebeb;
  padding: 15px;
  background-color: white;
}

.art-detalle i{
  color: #39b54a;
  border: 1px solid  #39b54a;
  font-size: 1rem;
  padding: 1.2rem;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
}


.titulares {
  font-size: 24px;
}

.precio {
  font-size: 18px;

}

.descuento{
  color:#39b54a;
  font-size: 16px;
}

.descripcion {
  font-size: 16px;
  display:none;
}


/* 
<-----FOOTER---->
<--------------->
 */

.centradoFinal {
  text-align: center;

}

footer i {
  font-size: 2em;
  color: #1259c3;
}

footer article {
  margin:30px;

}

/* 
<-----MEDIA QUERIES---->
<---------------------->
 */

@media (min-width:361px) {
  .navbar, .loginbar{
    display: contents;
  }

  .burger-menu{
    display: none;
  }

  .art-detalle{
    box-shadow: 0px 0px 10px rgb(100,100,100);

  }
.descripcion{
    display: contents;
  }
  
}

@media (min-width:769px) {
  
}